@media (max-width: 600px) {                  
  .card-img-top {
     display: none;
  }
  
  .card-lunchoption {
    margin: 5px !important;
  }

  .card-lunchoption > .card-body {
    padding: 0.25rem !important;
  }

}

.card-lunchoption {
  min-width: 8rem;
  width: 8rem;
  margin: 0px 5px;
  cursor: pointer;
}
